/* 
  Styles for the App screen
  This is the main component of the app
*/


/* The component holding all other components */
.appScreen {
  /* Dimensions and Positioning */
  height: 100vh;
  width: 100vw;
  min-width: 500px;
  position: relative;
  
  /* Layout */
  display: flex;
  flex-direction: row;

  /* Design */
  color: var(--primary-text-colour);
  background-color: var(--primary-background-colour);
}
