/* 
  Styles for the edit profile screen
  This component displays and permits editing of the user's profile
*/


/* Styles for entire edit profile screen component */
.editProfileScreen {
  /* Positioning */
  position: relative; /* Other components' positions are measured relative to this */
  top: 50%; /* Move 50% from the top */
  left: 50%; /* Move 50% from the left */
  transform: translate(-50%, -50%); /* Adjust position to center */

  /* Layout */
  display: flex; 
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: scroll; 

  /* Dimensions */
  min-width: 300px;
  width: 50vw; /* 50% of the viewport width */
  height: 99vh; /* 99% of the viewport height */
  overflow-x: hidden;
}


/* DESIGNS */

/* Bar across top of screen */
.topBar {
  /* Positioning and layout */
  position: relative;
  height: 120px;
  border-radius: 20px;
  padding:10px;
  padding-bottom: 40px;
}

/* The profile image shown at top of screen */
.profileImage {
  /* Dimensions and Positioning */
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 60px;

  /* Design */
  border: 5px solid #FFF;
  background-color: #FFF;
}
.profilePictureOverlay { /* The + button that appears over the profile pic when hovering */
  /* Positioning */
  position:absolute;
  top: 0px;
  left: 0px;

  /* Dimensions and Layout */
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  /* Design */
  font-size: 40px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2); /* Translucent dark overlay */
  display: none; /* Initially hidden */
}
.profileImage:hover .profilePictureOverlay { /* Shows overlay when hovering over profile image */
  /* Design */
  display: flex;
  cursor: pointer;
}
.removeProfilePicButton { /* The x button that appears next to profile pic when hovering */
  /* Positioning */
  position:absolute;
  top: 5px;
  right: 5px;

  /* Dimensions and Layout */
  width: 25px;
  height: 25px;
  padding: 0px 0px 5px 0px; /* Moves x to correct location */

  /* Design */
  background-color: var(--primary-text-colour);
  color: var(--primary-background-colour);
  line-height: 5px;
  display: none; /* Initially hidden */
}
.profileImage:hover .removeProfilePicButton { /* Shows button when hovering over profile image */
  /* Design */
  display: block;
}

/* The text areas for inputting profile information */
.editProfileScreen textarea {
  /* Positioning */
  display:block; /* Stack vertically */
  margin-bottom: 10px;
  margin-top: 10px;

  /* Dimensions */
  min-height: 25px;
  max-height:25px;
  width: 300px;
  padding: 10px;
}
.editProfileScreen textarea:focus { /* Response to selecting text area */
  /* Design */
  box-shadow: none;
}
.editProfileScreen .bio { /* Extra details for bio text area */
  /* Dimensions */
  min-height: 100px;
  height:100px;
  width: 80%;
}

/* The colour picker for determining user colour */
.colourPicker {
  /* Positioning and Design */
  display: block;
  overflow: hidden;
  border: none;

  /* Dimensions */
  height: 50px;
  width: 100px;
}

/* The buttons to return to message screen */
.exitButtons {
  /* Positioning */
  position: absolute;
  top: 10px;
  right: 10px;
}
.exitButtons .saveButton { /* The save button */
  /* Design and Positioning */
  background-color: #B7E9C1;
  margin-right: 10px;
}