/* 
  Styles for the message screen
  This component displays and permits sending of messages between users
*/


/* Styles for entire message screen component */
.messageScreen {
  /* Positioning and Layout */
  position: relative; /* Other components' positions are measured relative to this */
  display: flex; 
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5px 20px ;

  /* Dimensions */
  min-width: 300px;
  width: 70%;
  flex-grow: 1;
  box-sizing: border-box;
  height: calc(99%); /* 99% of the viewport height */
}
  


/* MESSAGES */

/* Styles for section of screen with messages */
.messageContainer {
  /* Positioning and Layout */
  bottom: 0; /* Position as low as possible within messageScreen (parent) */
  display: flex;
  flex-direction: column; 
  overflow-y: overlay; /* Shows vertical scrollbar if overflows */
  
  /* Dimensions and Spacing */
  padding-right: 5px; /* Allows for addition of scroll bar */
  width: 100%; /* Takes full width of messageScreen */
}
  
/* Styles for each set of messages */
.messageBlock {
  /* Layout and Dimensions */
  display: flex;
  flex-direction: column;
  min-width: calc(300px - 10px);
  max-width: 100%;
}
  
/* The horizontal line containing each message (for detecting hovering) */
.messageLine {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Styles for each individual message */
.message {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  position: relative; /* Sets message contents relative to bubble */
  justify-content: center;
}
.message.left { /* Messages sent by other users */
  align-self: flex-start;
}
.message.right { /* Messages sent by the user */
  align-self: flex-end;
}

/* Styles for the design of the actual message bubble */
.messageBubble {
  /* Bubble Shape */
  border-radius: 10px; /* Curved edges */
  padding: 10px; /* Space inside bubble*/
  margin-bottom: 5px; /* Space between bubbles */
  box-sizing: border-box;
  max-width: 100%;
  
  /* Text */
  word-wrap: break-word; /* Wraps long words */
  white-space: pre-wrap; /* Preserves line breaks and spaces */
}
.messageBubble.right { /* Messages sent by user */
  /* Design */
  align-self: flex-end;
  background-color: #ff006f;
  color: #ffffff; /* Text colour */
}
.messageBubble.left { /* Messages received by user */
  /* Design */
  align-self: flex-start;
  background-color: var(--object-colour-1);
  color: var(--primary-text-colour);
}
.messageBubble.emojiBubble { /* Styles for messages containing only emojis */
  /* Design */
  padding: 0px;
  font-size: 2em;
  background-color: transparent;
}

/* Styles for display name above set of messages */
.messageDisplayName {
  /* Design */
  font-size: 13px;
  color: hsl(0, 0%, 55%);
}
.messageDisplayName.left { /* Messages received by user */
  align-self: flex-start;
}
.messageDisplayName.right { /* Messages sent by user */
  align-self: flex-end;
}

/* Styles for the button to add emoji reactions */
.addEmoji {
  /* Dimensions and Positioning */
  padding: 10px;
  position: absolute;
  width: 30px;
  height: 30px;

  background-color: transparent;
}
.addEmoji:hover { /* Show button on hover */
  background-color: var(--object-colour-1);
}
.addEmoji.left { /* Messages received by user */
  right: -40px;
}
.addEmoji.right { /* Messages sent by user */
  left: -40px;
}

/* The image for the add emoji reactions button */
.addEmojiImage {
  /* Positioning */
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;

  /* Design */
  opacity: 50%;
}
.dark-mode .addEmojiImage { /* Design differences for dark mode */
  opacity: 30%;
  filter: invert(100%);
}

/* Styles for the menu to add reacts */
.addEmojiMenu {
  /* Positioning and Layout */
  z-index: 1;
  position: absolute;
  top: -80px;
  width: 165px;
  padding: 5px;

  /* Design */
  background-color: var(--object-colour-1);
  border-radius: 20px;
}
.addEmojiMenu.left { /* Messages received by the user */
  right: -155px;
}
.addEmojiMenu.right { /* Messages sent by the user */
  left: -155px;
}

/* Styles for each button to add a react within the menu */
.emojiOptionButton {
  /* Design */
  font-size: 150%;
  padding: 0;
  margin: 0;
  border: 0;
}



/* OTHER COMPONENTS */

/* Styles for input box to enter messages */
.inputBox {
  /* Dimensions and positioning */
  min-height: 30px;
  max-height: 120px;
  width: min(80%, 500px);
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/* Styles for button to scroll to bottom */
.scrollButton {
  /* Positioning */
  position: absolute; /* Set position relative to message screen */
  margin-bottom: 5px;

  /* Design */
  color: color-mix(in srgb, var(--primary-text-colour) 80%, transparent);
  background-color: color-mix(in srgb, var(--object-colour-1) 80%, transparent);
  font-size: 0.8em
}
  
/* Styles for button to log out */
/* Move to different location when set up  */
.logOutButton {
  /* Positioning */
  margin-bottom: auto; /* Pushes to top */
}